# Token do seu Bot do Telegram (obtenha com o @BotFather)
TELEGRAM_BOT_TOKEN=SEU_TOKEN_TELEGRAM_AQUI

# IDs dos usuários autorizados a interagir com o bot (separados por vírgula)
# Obtenha seu ID enviando mensagem para o @userinfobot no Telegram
ALLOWED_USERS=ID_USUARIO_1,ID_USUARIO_2

# Senha de acesso para novos usuários se autenticarem via chat do bot
ACCESS_PASSWORD=MinhaSenhaSuperSegura123


# IP do Gateway DMS 2.5
DMS_IP=192.168.1.200

# IP local e máscara da placa de rede deste servidor/máquina
# Deve estar na mesma sub-rede do DMS 2.5
LOCAL_IP_MASK=192.168.1.100/24

# Rede BACnet Virtual do DMS (Padrão: 9)
DNET=9

# Identificação BACnet do próprio Bot
LOCAL_DEVICE_ID=99999
LOCAL_DEVICE_NAME=TelegramBACnetBot

# Modo Simulação (para testes sem conexão real com o DMS)
# Altere para True caso queira testar a lógica do Telegram offline
SIMULATION_MODE=False
